@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root{
    --fonteText: 'Sriracha', sans-serif;
    --fonteTitle: 'Passion One', sans-serif;
    --fonteNormal: Verdana, Helvetica, sans-serif;
}

*{
    padding: 0;
    margin: 0;
}

html, body {
    min-height: 100vh;
    background-color: darkgrey;
    font-family: var(--fonteNormal);
}

header{
    background-color: black;
    color: white;
    text-align: center;
    font-weight: normal;
}

header > h1 {
    padding-top: 50px;
    font-family: var(--fonteTitle);
    font-size: 10vw;
    font-weight: bold;  
    font-variant: small-caps
}

header > p {
    padding-bottom: 50px;
    font-family: var(--fonteNormal);
}

a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
}

main section {
    font-family: var(--fonteText);
    font-size: 3.5vw;
    padding: 10vh 0 10vh 30px;
    line-height: 2em;
}

section > p {
    padding-bottom: 2em;
}

main section.normal {
    background-color: white;
    color: black;
}

main section.imagem {
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.692);
}

main > section.imagem > p {
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 1px 1px 1px black;
    width: max-content;
    display: inline-block;
    padding: 10px;
}

main section.imagem#img01 {
    background: url(imagens/background001.jpg) no-repeat fixed;
    background-position: right center;
    background-size: cover;
}

main section.imagem#img02 {
    background: url(imagens/background002.jpg) no-repeat fixed;
    background-position: right center;
    background-size: cover;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1.1em;
    font-family: var(--fonteNormal);
    font-weight: normal;
}